/* Appliquer la boîte de modèle de bordure à tous les éléments */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles généraux du corps de la page */
body {
  background: #fefefe;
  font-family: "Bebas Neue", cursive;
  margin: auto;
  font-size: x-large;
  color: #0f2832;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.Home {
  margin-top: 50%;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}
